# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs
# decompiled minecraft sources (for reference only)
tmp/mc-sources
tmp/mc-sources.zip
